main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  height: fit-content;

  margin: 10vh 0vh 10vh 0vh;
}

.directors_container {
  margin: 1vh 1vh 1vh 1vh;
  padding: 1vh 1vh 1vh 1vh;
  background-color: rgb(255, 255, 255);
  border-radius: 1vh;
  box-shadow: 3px 7px 11px 2px rgba(0, 0, 0, 0.2);
  width: 50%;
  height: fit-content;
}
