/* HERO Section */

#hero {
    background-image: url('/assets/images/hero.png');
    background-size: cover;
    background-position: top center;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: center;
}

#hero h2 span {
    color: rgba(249, 59, 47);
}

#hero input {
    margin-top: 15px;
    font-size: 1rem;
    height: 50px;
    width: 60%;
    padding: 0 10px;
    border-radius: 5px;
}

#hero .btn {
    color: #FFF;
    background-color: rgba(249, 59, 47);
    width: 40%;
}


/* SUGGEST MOVIES */

#suggestions {
    margin: 50px 0;
    padding: 0px 20px;
    color: rgba(0, 0, 0, 0.8);
}

#suggestions hr {
    margin: 10px 0;
}

.suggested-movies {
    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.suggested-movies .suggested-movie {
    width: 100%;
    margin-bottom: 20px;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.suggested-movies .suggested-movie img {
    width: 100%;
}

.movie-details {
    padding: 20px 5px;
}

.movie-details h3 {
    font-weight: 600;
    margin-bottom: 5px;
}

.movie-details p {
    font-weight: 400;
    font-size: 0.8rem;
}

.movie-summary {
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Media queries for desktop version */

@media only screen and (min-width: 800px) {
    #hero h2 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .suggested-movies .suggested-movie {
        width: 30%;
        margin: 0 1%;
    }

    #hero form {
        width: 50%;
        margin: 0 auto;
    }

    #suggestions {
        padding: 0px 20%;
        margin: 100px 0;
    }

    .movie-details {
        padding: 20px 20px;
    }

    .movie-details h3 {
        margin-bottom: 10px;
    }
}