<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../components/nav/nav-style.css" />
  </head>
  <body>
    <h1>Movie<span>Suggest</span></h1>

    <ul>
      <li>
        <a class="active" href="./index.php ">Home</a>
      </li>
      <li>
        <a href="./single-item.php ">Movies details</a>
      </li>
      <li>
        <a href="../pages/directors.php ">Movies directors</a>
      </li>
      <li>
        <a href="../pages/movies.php ">Movies list </a>
      </li>
      <li>
        <a href="../pages/new-movie.php ">Add your movie</a>
      </li>
      <li>
        <a href="# ">Contact</a>
      </li>
    </ul>
  </body>
</html>
